_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
vendor
assets/pdf/Consortia_covid19_gwas.txt
assets/pdf/covid19_gwas.R
assets/pdf/covid19_gwas.txt
.Rhistory
.Rproj.user
