<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <img class="repo-img-light w-100" alt="{{ include.username }}" src="https://github-readme-stats.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_theme_light }}&show_icons=true" onerror="this.style.display='none'; this.nextElementSibling.style.display='none'; this.nextElementSibling.nextElementSibling.classList.remove('d-none');">
    <img class="repo-img-dark w-100" alt="{{ include.username }}" src="https://github-readme-stats.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_theme_dark }}&show_icons=true" onerror="this.style.display='none'; this.nextElementSibling.classList.remove('d-none');">
    <div class="repo-fallback d-none">
      <div class="text-truncate mb-2">{{ include.username }}</div>
      <img class="w-100" alt="Followers of {{ include.username }}" src="https://img.shields.io/github/followers/{{ include.username }}?style=flat-square&label=Followers&logo=github">
      <img class="w-100" alt="Stars for {{ include.username }}" src="https://img.shields.io/github/stars/{{ include.username }}?style=flat-square&label=Stars&logo=github">
    </div>
  </a>
</div>
